<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="org.poetic.mixpanel" version="0.1.0">
  <name>Mixpanel</name>
  <description>Mixpanel SDK Cordova</description>
  <license>Apache 2.0</license>
  <keywords>poetic,mixpanel,analytics</keywords>
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>
  <js-module src="www/Mixpanel.js" name="Mixpanel">
    <clobbers target="navigator.mixpanel" />
  </js-module>

    <!-- android -->
    <platform name="android">
        <source-file src="src/android/com/mixpanel/android/CDVMixpanel.java" target-dir="src/com/mixpanel/android" />
                <source-file src="src/android/com/mixpanel/android/mpmetrics/AnalyticsMessages.java" target-dir="src/com/mixpanel/android/mpmetrics" />
            <source-file src="src/android/com/mixpanel/android/mpmetrics/BackgroundCapture.java" target-dir="src/com/mixpanel/android/mpmetrics" />
            <source-file src="src/android/com/mixpanel/android/mpmetrics/BadDecideObjectException.java" target-dir="src/com/mixpanel/android/mpmetrics" />
            <source-file src="src/android/com/mixpanel/android/mpmetrics/ConfigurationChecker.java" target-dir="src/com/mixpanel/android/mpmetrics" />
            <source-file src="src/android/com/mixpanel/android/mpmetrics/DecideChecker.java" target-dir="src/com/mixpanel/android/mpmetrics" />
            <source-file src="src/android/com/mixpanel/android/mpmetrics/DecideUpdates.java" target-dir="src/com/mixpanel/android/mpmetrics" />
            <source-file src="src/android/com/mixpanel/android/mpmetrics/GCMReceiver.java" target-dir="src/com/mixpanel/android/mpmetrics" />
            <source-file src="src/android/com/mixpanel/android/mpmetrics/InAppFragment.java" target-dir="src/com/mixpanel/android/mpmetrics" />
            <source-file src="src/android/com/mixpanel/android/mpmetrics/InAppNotification.java" target-dir="src/com/mixpanel/android/mpmetrics" />
            <source-file src="src/android/com/mixpanel/android/mpmetrics/InstallReferrerReceiver.java" target-dir="src/com/mixpanel/android/mpmetrics" />
            <source-file src="src/android/com/mixpanel/android/mpmetrics/MiniCircleImageView.java" target-dir="src/com/mixpanel/android/mpmetrics" />
            <source-file src="src/android/com/mixpanel/android/mpmetrics/MixpanelActivityLifecycleCallbacks.java" target-dir="src/com/mixpanel/android/mpmetrics" />
            <source-file src="src/android/com/mixpanel/android/mpmetrics/MixpanelAPI.java" target-dir="src/com/mixpanel/android/mpmetrics" />
            <source-file src="src/android/com/mixpanel/android/mpmetrics/MPConfig.java" target-dir="src/com/mixpanel/android/mpmetrics" />
            <source-file src="src/android/com/mixpanel/android/mpmetrics/MPDbAdapter.java" target-dir="src/com/mixpanel/android/mpmetrics" />
            <source-file src="src/android/com/mixpanel/android/mpmetrics/OnMixpanelUpdatesReceivedListener.java" target-dir="src/com/mixpanel/android/mpmetrics" />
            <source-file src="src/android/com/mixpanel/android/mpmetrics/PersistentIdentity.java" target-dir="src/com/mixpanel/android/mpmetrics" />
            <source-file src="src/android/com/mixpanel/android/mpmetrics/ServerMessage.java" target-dir="src/com/mixpanel/android/mpmetrics" />
            <source-file src="src/android/com/mixpanel/android/mpmetrics/SharedPreferencesLoader.java" target-dir="src/com/mixpanel/android/mpmetrics" />
            <source-file src="src/android/com/mixpanel/android/mpmetrics/Survey.java" target-dir="src/com/mixpanel/android/mpmetrics" />
            <source-file src="src/android/com/mixpanel/android/mpmetrics/SurveyCallbacks.java" target-dir="src/com/mixpanel/android/mpmetrics" />
            <source-file src="src/android/com/mixpanel/android/mpmetrics/SynchronizedReference.java" target-dir="src/com/mixpanel/android/mpmetrics" />
            <source-file src="src/android/com/mixpanel/android/mpmetrics/SystemInformation.java" target-dir="src/com/mixpanel/android/mpmetrics" />
            <source-file src="src/android/com/mixpanel/android/mpmetrics/UpdateDisplayState.java" target-dir="src/com/mixpanel/android/mpmetrics" />
            
            <source-file src="src/android/com/mixpanel/android/surveys/AlwaysSubmittableEditText.java" target-dir="src/com/mixpanel/android/surveys" />
            <source-file src="src/android/com/mixpanel/android/surveys/CardCarouselLayout.java" target-dir="src/com/mixpanel/android/surveys" />
            <source-file src="src/android/com/mixpanel/android/surveys/FadeOnPressButton.java" target-dir="src/com/mixpanel/android/surveys" />
            <source-file src="src/android/com/mixpanel/android/surveys/FadingImageView.java" target-dir="src/com/mixpanel/android/surveys" />
            <source-file src="src/android/com/mixpanel/android/surveys/SurveyActivity.java" target-dir="src/com/mixpanel/android/surveys" />
            <source-file src="src/android/com/mixpanel/android/surveys/SurveyChoiceView.java" target-dir="src/com/mixpanel/android/surveys" />
            
            <source-file src="src/android/com/mixpanel/android/util/ActivityImageUtils.java" target-dir="src/com/mixpanel/android/util" />
            <source-file src="src/android/com/mixpanel/android/util/Base64Coder.java" target-dir="src/com/mixpanel/android/util" />
            <source-file src="src/android/com/mixpanel/android/util/StackBlurManager.java" target-dir="src/com/mixpanel/android/util" />
            <source-file src="src/android/com/mixpanel/android/util/StringUtils.java" target-dir="src/com/mixpanel/android/util" />
            
<resource-file src="src/android/res/anim/com_mixpanel_android_fade_in.xml" target="res/anim/com_mixpanel_android_fade_in.xml" />
<resource-file src="src/android/res/anim/com_mixpanel_android_fade_out.xml" target="res/anim/com_mixpanel_android_fade_out.xml" />
<resource-file src="src/android/res/anim/com_mixpanel_android_slide_down.xml" target="res/anim/com_mixpanel_android_slide_down.xml" />
<resource-file src="src/android/res/drawable/com_mixpanel_android_arrowleft_insets.xml" target="res/drawable/com_mixpanel_android_arrowleft_insets.xml" />
<resource-file src="src/android/res/drawable/com_mixpanel_android_arrowleft_states.xml" target="res/drawable/com_mixpanel_android_arrowleft_states.xml" />
<resource-file src="src/android/res/drawable/com_mixpanel_android_arrowright_insets.xml" target="res/drawable/com_mixpanel_android_arrowright_insets.xml" />
<resource-file src="src/android/res/drawable/com_mixpanel_android_arrowright_states.xml" target="res/drawable/com_mixpanel_android_arrowright_states.xml" />
<resource-file src="src/android/res/drawable/com_mixpanel_android_checkmark_states.xml" target="res/drawable/com_mixpanel_android_checkmark_states.xml" />
<resource-file src="src/android/res/drawable/com_mixpanel_android_choice_first_states.xml" target="res/drawable/com_mixpanel_android_choice_first_states.xml" />
<resource-file src="src/android/res/drawable/com_mixpanel_android_choice_last_states.xml" target="res/drawable/com_mixpanel_android_choice_last_states.xml" />
<resource-file src="src/android/res/drawable/com_mixpanel_android_choice_middle_states.xml" target="res/drawable/com_mixpanel_android_choice_middle_states.xml" />
<resource-file src="src/android/res/drawable/com_mixpanel_android_close.png" target="res/drawable/com_mixpanel_android_close.png" />
<resource-file src="src/android/res/drawable/com_mixpanel_android_cta_button.xml" target="res/drawable/com_mixpanel_android_cta_button.xml" />
<resource-file src="src/android/res/drawable/com_mixpanel_android_cta_button_highlight.xml" target="res/drawable/com_mixpanel_android_cta_button_highlight.xml" />
<resource-file src="src/android/res/drawable/com_mixpanel_android_nocolor_list.xml" target="res/drawable/com_mixpanel_android_nocolor_list.xml" />
<resource-file src="src/android/res/drawable/com_mixpanel_android_notification_placeholder.png" target="res/drawable/com_mixpanel_android_notification_placeholder.png" />
<resource-file src="src/android/res/drawable/com_mixpanel_android_rounded_bottom.9.png" target="res/drawable/com_mixpanel_android_rounded_bottom.9.png" />
<resource-file src="src/android/res/drawable/com_mixpanel_android_rounded_bottom_selected.9.png" target="res/drawable/com_mixpanel_android_rounded_bottom_selected.9.png" />
<resource-file src="src/android/res/drawable/com_mixpanel_android_rounded_top.9.png" target="res/drawable/com_mixpanel_android_rounded_top.9.png" />
<resource-file src="src/android/res/drawable/com_mixpanel_android_rounded_top_selected.9.png" target="res/drawable/com_mixpanel_android_rounded_top_selected.9.png" />
<resource-file src="src/android/res/drawable/com_mixpanel_android_square.9.png" target="res/drawable/com_mixpanel_android_square.9.png" />
<resource-file src="src/android/res/drawable/com_mixpanel_android_square_selected.9.png" target="res/drawable/com_mixpanel_android_square_selected.9.png" />
<resource-file src="src/android/res/drawable/com_mixpanel_android_text_answer_border.xml" target="res/drawable/com_mixpanel_android_text_answer_border.xml" />
<resource-file src="src/android/res/drawable-hdpi/com_mixpanel_android_arrowleft.png" target="res/drawable-hdpi/com_mixpanel_android_arrowleft.png" />
<resource-file src="src/android/res/drawable-hdpi/com_mixpanel_android_arrowleft_faded.png" target="res/drawable-hdpi/com_mixpanel_android_arrowleft_faded.png" />
<resource-file src="src/android/res/drawable-hdpi/com_mixpanel_android_arrowright.png" target="res/drawable-hdpi/com_mixpanel_android_arrowright.png" />
<resource-file src="src/android/res/drawable-hdpi/com_mixpanel_android_arrowright_faded.png" target="res/drawable-hdpi/com_mixpanel_android_arrowright_faded.png" />
<resource-file src="src/android/res/drawable-hdpi/com_mixpanel_android_checkmark.png" target="res/drawable-hdpi/com_mixpanel_android_checkmark.png" />
<resource-file src="src/android/res/drawable-hdpi/com_mixpanel_android_logo.png" target="res/drawable-hdpi/com_mixpanel_android_logo.png" />
<resource-file src="src/android/res/drawable-hdpi/com_mixpanel_android_square_dropshadow.9.png" target="res/drawable-hdpi/com_mixpanel_android_square_dropshadow.9.png" />
<resource-file src="src/android/res/drawable-hdpi/com_mixpanel_android_square_nodropshadow.9.png" target="res/drawable-hdpi/com_mixpanel_android_square_nodropshadow.9.png" />
<resource-file src="src/android/res/drawable-ldpi/com_mixpanel_android_arrowleft.png" target="res/drawable-ldpi/com_mixpanel_android_arrowleft.png" />
<resource-file src="src/android/res/drawable-ldpi/com_mixpanel_android_arrowleft_faded.png" target="res/drawable-ldpi/com_mixpanel_android_arrowleft_faded.png" />
<resource-file src="src/android/res/drawable-ldpi/com_mixpanel_android_arrowright.png" target="res/drawable-ldpi/com_mixpanel_android_arrowright.png" />
<resource-file src="src/android/res/drawable-ldpi/com_mixpanel_android_arrowright_faded.png" target="res/drawable-ldpi/com_mixpanel_android_arrowright_faded.png" />
<resource-file src="src/android/res/drawable-ldpi/com_mixpanel_android_checkmark.png" target="res/drawable-ldpi/com_mixpanel_android_checkmark.png" />
<resource-file src="src/android/res/drawable-ldpi/com_mixpanel_android_logo.png" target="res/drawable-ldpi/com_mixpanel_android_logo.png" />
<resource-file src="src/android/res/drawable-mdpi/com_mixpanel_android_arrowleft.png" target="res/drawable-mdpi/com_mixpanel_android_arrowleft.png" />
<resource-file src="src/android/res/drawable-mdpi/com_mixpanel_android_arrowleft_faded.png" target="res/drawable-mdpi/com_mixpanel_android_arrowleft_faded.png" />
<resource-file src="src/android/res/drawable-mdpi/com_mixpanel_android_arrowright.png" target="res/drawable-mdpi/com_mixpanel_android_arrowright.png" />
<resource-file src="src/android/res/drawable-mdpi/com_mixpanel_android_arrowright_faded.png" target="res/drawable-mdpi/com_mixpanel_android_arrowright_faded.png" />
<resource-file src="src/android/res/drawable-mdpi/com_mixpanel_android_checkmark.png" target="res/drawable-mdpi/com_mixpanel_android_checkmark.png" />
<resource-file src="src/android/res/drawable-mdpi/com_mixpanel_android_logo.png" target="res/drawable-mdpi/com_mixpanel_android_logo.png" />
<resource-file src="src/android/res/drawable-mdpi/com_mixpanel_android_square_dropshadow.9.png" target="res/drawable-mdpi/com_mixpanel_android_square_dropshadow.9.png" />
<resource-file src="src/android/res/drawable-mdpi/com_mixpanel_android_square_nodropshadow.9.png" target="res/drawable-mdpi/com_mixpanel_android_square_nodropshadow.9.png" />
<resource-file src="src/android/res/drawable-xhdpi/com_mixpanel_android_arrowleft.png" target="res/drawable-xhdpi/com_mixpanel_android_arrowleft.png" />
<resource-file src="src/android/res/drawable-xhdpi/com_mixpanel_android_arrowleft_faded.png" target="res/drawable-xhdpi/com_mixpanel_android_arrowleft_faded.png" />
<resource-file src="src/android/res/drawable-xhdpi/com_mixpanel_android_arrowright.png" target="res/drawable-xhdpi/com_mixpanel_android_arrowright.png" />
<resource-file src="src/android/res/drawable-xhdpi/com_mixpanel_android_arrowright_faded.png" target="res/drawable-xhdpi/com_mixpanel_android_arrowright_faded.png" />
<resource-file src="src/android/res/drawable-xhdpi/com_mixpanel_android_checkmark.png" target="res/drawable-xhdpi/com_mixpanel_android_checkmark.png" />
<resource-file src="src/android/res/drawable-xhdpi/com_mixpanel_android_logo.png" target="res/drawable-xhdpi/com_mixpanel_android_logo.png" />
<resource-file src="src/android/res/drawable-xhdpi/com_mixpanel_android_square_dropshadow.9.png" target="res/drawable-xhdpi/com_mixpanel_android_square_dropshadow.9.png" />
<resource-file src="src/android/res/drawable-xhdpi/com_mixpanel_android_square_nodropshadow.9.png" target="res/drawable-xhdpi/com_mixpanel_android_square_nodropshadow.9.png" />
<resource-file src="src/android/res/drawable-xxhdpi/com_mixpanel_android_arrowleft.png" target="res/drawable-xxhdpi/com_mixpanel_android_arrowleft.png" />
<resource-file src="src/android/res/drawable-xxhdpi/com_mixpanel_android_arrowleft_faded.png" target="res/drawable-xxhdpi/com_mixpanel_android_arrowleft_faded.png" />
<resource-file src="src/android/res/drawable-xxhdpi/com_mixpanel_android_arrowright.png" target="res/drawable-xxhdpi/com_mixpanel_android_arrowright.png" />
<resource-file src="src/android/res/drawable-xxhdpi/com_mixpanel_android_arrowright_faded.png" target="res/drawable-xxhdpi/com_mixpanel_android_arrowright_faded.png" />
<resource-file src="src/android/res/drawable-xxhdpi/com_mixpanel_android_checkmark.png" target="res/drawable-xxhdpi/com_mixpanel_android_checkmark.png" />
<resource-file src="src/android/res/drawable-xxhdpi/com_mixpanel_android_logo.png" target="res/drawable-xxhdpi/com_mixpanel_android_logo.png" />
<resource-file src="src/android/res/drawable-xxhdpi/com_mixpanel_android_square_dropshadow.9.png" target="res/drawable-xxhdpi/com_mixpanel_android_square_dropshadow.9.png" />
<resource-file src="src/android/res/drawable-xxhdpi/com_mixpanel_android_square_nodropshadow.9.png" target="res/drawable-xxhdpi/com_mixpanel_android_square_nodropshadow.9.png" />
<resource-file src="src/android/res/layout/com_mixpanel_android_activity_notification_full.xml" target="res/layout/com_mixpanel_android_activity_notification_full.xml" />
<resource-file src="src/android/res/layout/com_mixpanel_android_activity_notification_mini.xml" target="res/layout/com_mixpanel_android_activity_notification_mini.xml" />
<resource-file src="src/android/res/layout/com_mixpanel_android_activity_survey.xml" target="res/layout/com_mixpanel_android_activity_survey.xml" />
<resource-file src="src/android/res/layout/com_mixpanel_android_first_choice_answer.xml" target="res/layout/com_mixpanel_android_first_choice_answer.xml" />
<resource-file src="src/android/res/layout/com_mixpanel_android_last_choice_answer.xml" target="res/layout/com_mixpanel_android_last_choice_answer.xml" />
<resource-file src="src/android/res/layout/com_mixpanel_android_middle_choice_answer.xml" target="res/layout/com_mixpanel_android_middle_choice_answer.xml" />
<resource-file src="src/android/res/layout/com_mixpanel_android_question_card.xml" target="res/layout/com_mixpanel_android_question_card.xml" />
<resource-file src="src/android/res/layout-land/com_mixpanel_android_activity_notification_full.xml" target="res/layout-land/com_mixpanel_android_activity_notification_full.xml" />
<resource-file src="src/android/res/values/colors.xml" target="res/values/colors.xml" />
<resource-file src="src/android/res/values/strings.xml" target="res/values/strings.xml" />
<resource-file src="src/android/res/values/styles.xml" target="res/values/styles.xml" />
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.VIBRATE"/>
            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
            <permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature" />
            <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
        </config-file>   
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Mixpanel">
                <param name="android-package" value="com.mixpanel.android.CDVMixpanel"/>
            </feature>
        </config-file> 
     </platform>  

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Mixpanel">
        <param name="ios-package" value="CDVMixpanel"/>
      </feature>
    </config-file>

    <header-file src="src/ios/CDVMixpanel.h" />
    <source-file src="src/ios/CDVMixpanel.m" />

    <header-file src="src/ios/AppDelegate+notification.h" />
    <source-file src="src/ios/AppDelegate+notification.m" />

    <source-file src="src/ios/Mixpanel/MPSurvey.storyboard" />
    <source-file src="src/ios/Mixpanel/MPNotification.storyboard" />

    <header-file src="src/ios/Mixpanel/MPNotification.h" />
    <header-file src="src/ios/Mixpanel/MPNotificationViewController.h" />
    <header-file src="src/ios/Mixpanel/MPSurvey.h" />
    <header-file src="src/ios/Mixpanel/MPSurveyNavigationController.h" />
    <header-file src="src/ios/Mixpanel/MPSurveyQuestion.h" />
    <header-file src="src/ios/Mixpanel/MPSurveyQuestionViewController.h" />
    <header-file src="src/ios/Mixpanel/Mixpanel.h" />
    <header-file src="src/ios/Mixpanel/NSData+MPBase64.h" />
    <header-file src="src/ios/Mixpanel/UIColor+MPColor.h" />
    <header-file src="src/ios/Mixpanel/UIImage+MPAverageColor.h" />
    <header-file src="src/ios/Mixpanel/UIImage+MPImageEffects.h" />
    <header-file src="src/ios/Mixpanel/UIView+MPSnapshotImage.h" />

    <source-file src="src/ios/Mixpanel/MPNotification.m" />
    <source-file src="src/ios/Mixpanel/MPNotificationViewController.m" />
    <source-file src="src/ios/Mixpanel/MPSurvey.m" />
    <source-file src="src/ios/Mixpanel/MPSurveyNavigationController.m" />
    <source-file src="src/ios/Mixpanel/MPSurveyQuestion.m" />
    <source-file src="src/ios/Mixpanel/MPSurveyQuestionViewController.m" />
    <source-file src="src/ios/Mixpanel/Mixpanel.m" />
    <source-file src="src/ios/Mixpanel/NSData+MPBase64.m" />
    <source-file src="src/ios/Mixpanel/UIColor+MPColor.m" />
    <source-file src="src/ios/Mixpanel/UIImage+MPAverageColor.m" />
    <source-file src="src/ios/Mixpanel/UIImage+MPImageEffects.m" />
    <source-file src="src/ios/Mixpanel/UIView+MPSnapshotImage.m" />

    <source-file src="src/ios/Mixpanel/Media.xcassets/MPArrowLeft.imageset/MPArrowLeft.png" />
    <source-file src="src/ios/Mixpanel/Media.xcassets/MPArrowLeft.imageset/MPArrowLeft@2x.png" />
    <source-file src="src/ios/Mixpanel/Media.xcassets/MPArrowRight.imageset/MPArrowRight.png" />
    <source-file src="src/ios/Mixpanel/Media.xcassets/MPArrowRight.imageset/MPArrowRight@2x.png" />
    <source-file src="src/ios/Mixpanel/Media.xcassets/MPCheckmark.imageset/MPCheckmark.png" />
    <source-file src="src/ios/Mixpanel/Media.xcassets/MPCheckmark.imageset/MPCheckmark@2x.png" />
    <source-file src="src/ios/Mixpanel/Media.xcassets/MPCloseBtn.imageset/MPCloseBtn.png" />
    <source-file src="src/ios/Mixpanel/Media.xcassets/MPCloseBtn.imageset/MPCloseBtn@2x.png" />
    <source-file src="src/ios/Mixpanel/Media.xcassets/MPDismissKeyboard.imageset/MPDismissKeyboard.png" />
    <source-file src="src/ios/Mixpanel/Media.xcassets/MPDismissKeyboard.imageset/MPDismissKeyboard@2x.png" />
    <source-file src="src/ios/Mixpanel/Media.xcassets/MPLogo.imageset/MPLogo.png" />
    <source-file src="src/ios/Mixpanel/Media.xcassets/MPLogo.imageset/MPLogo@2x.png" />

    <framework src="Foundation.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="CoreTelephony.framework" />
    <framework src="Accelerate.framework" />
    <framework src="CoreGraphics.framework" />
    <framework src="QuartzCore.framework" />

  </platform> 
</plugin>
